name: Init Firebase Structure

on:
  workflow_dispatch:

jobs:
  init:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Firebase init script
        env:
          FIREBASE_DB_URL: ${{ secrets.FIREBASE_DB_URL }}
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: |
          python init_firebase.py
